<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/asset-favico.ico">
    <title>健康档案详情</title>

    <link rel="stylesheet" href="../css/page-health-recordDetail.css" />
    <script>
        var id = getUrlParam("id");
    </script>
</head>

<body data-spy="scroll" data-target="#myNavbar" data-offset="150">
    <div class="app">
        <!-- 页面头部 -->
        <div class="top-header">
            <span class="f-left"><i class="icon-back"></i>返回</span>
            <span class="center">传智健康</span>
            <span class="f-right"><i class="icon-more"></i></span>
        </div>
        <!-- 页面内容 -->
        <div class="contentBox">
            <div class="list-content">
                <div class="fix-info">
                    <ul class="list-unstyled ">
                        <li><span class="tit">FileNumber</span><span class="info">{{memberInfo.fileNumber}}</span></li>
                        <li><span class="tit">Name</span><span class="info">{{memberInfo.name}}</span></li>
                        <li><span class="tit">ID Number</span><span class="info">{{memberInfo.idCard}}</span></li>
                        <li><span class="tit">Email</span><span  class="info">{{memberInfo.email}}</span></li>
                        <li><span class="tit">RegTime</span><span class="info">{{memberInfo.regTime}}</span></li>
                    </ul>
                </div>
                <div class="fix-info">
                    <ul class="mui-list-unstyled ">
                        <li><span class="tit">Sex</span><span v-model="member.fileNumber"class="info">{{memberInfo.sex}}</span></li>
                        <li><span class="tit">Birthday</span><span v-model="member.fileNumber" class="info">{{memberInfo.birthday}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面 css js -->
    <script src="../plugins/vue/vue.js"></script>
    <script src="../plugins/vue/axios-0.18.0.js"></script>
    <!-- <script src="health-index.js"></script> -->

    <script>
        var vue = new Vue({
            el:'#app',
            data:{
                memberInfo:{}
            },
            mounted (){
                axios.post("/member/findByEmail.do").then((response)=>{
                    if(response.data.flag){
                        this.memberInfo = response.data.data;
                    }
                });
            }
        });
    </script>


</body>