<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SCU E-Healthcare</title>
        <meta name="description" content="SCU E-Healthcare">
        <meta name="keywords" content="SCU E-Healthcare">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <style>
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }
            .avatar-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 178px;
                height: 178px;
                line-height: 178px;
                text-align: center;
            }
            .avatar {
                width: 178px;
                height: 178px;
                display: block;
            }
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>Member Management<small>Member List</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
                    <el-breadcrumb-item>Member Management</el-breadcrumb-item>
                    <el-breadcrumb-item>Member List</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="Name/IDCard" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                        <el-button @click="findPage()" class="dalfBut">Search</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">Register New Member</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="No."></el-table-column>
                        <el-table-column prop="name" label="Member Name" align="center"></el-table-column>
                        <el-table-column label="Sex" align="center">
                            <template slot-scope="scope">
                                <span>{{ scope.row.sex == '1' ? 'Male' : 'Female'}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="idCard" label="ID Card No." align="center"></el-table-column>
                        <el-table-column prop="email" label="Member Email" align="center"></el-table-column>
                        <el-table-column prop="regTime" label="Registration Time" align="center"></el-table-column>
                        <el-table-column label="Operations" align="center">
                            <template slot-scope="scope">
                                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">Edit</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">Delete</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="Register New Member" :visible.sync="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="Basic Info" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Sex">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="Male" value="1"></el-option>
                                                            <el-option label="Female" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="ID Card No.">
                                                        <el-input v-model="formData.idCard"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Email">
                                                        <el-input v-model="formData.email"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="Reg Time">
                                                        <!--<el-input v-model="formData.regTime" class="picktime"/>-->
                                                        <el-date-picker
                                                                v-model="formData.regTime"
                                                                type="date"
                                                                placeholder="Pick a day">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                </el-tabs>

                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="handleAdd()">Confirm</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="Edit Member Info" :visible.sync="dialogFormVisible4Edit">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="Basic Info" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Sex">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="Male" value="1"></el-option>
                                                            <el-option label="Female" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="ID Card No.">
                                                        <el-input v-model="formData.idCard"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="Email">
                                                        <el-input v-model="formData.email"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="Reg Time">
                                                        <!--<el-input v-model="formData.regTime" class="picktime"/>-->
                                                        <el-date-picker
                                                                v-model="formData.regTime"
                                                                type="date"
                                                                placeholder="Pick a day">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">Cancel</el-button>
                                <el-button type="primary" @click="handleEdit()">Confirm</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                dataList: [],//列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                dialogFormVisible4Edit: false
            },
            created() {
                this.findPage();
            },
            methods: {
                //添加
                handleAdd () {
                    this.dialogFormVisible = false;
                    axios.post("/member/add.do", this.formData).then((response)=>{
                        if(response.data.flag){
                            this.$message({
                                type:'success',
                                message: response.data.message
                            });
                        }else{
                            this.$message.error(response.data.message);
                        }
                    }).finally(()=>{
                        this.findPage();
                    });
                },

                //编辑
                handleEdit() {
                    this.dialogFormVisible4Edit = false;
                    axios.post("/member/edit.do",this.formData).then((response)=>{
                        if(response.data.flag){
                            this.$message({
                                type:'success',
                                message: response.data.message
                            });
                        }else{
                            this.$message.error(response.data.message);
                        }
                    }).finally(()=>{
                        this.findPage();
                    });

                },
                //分页查询
                findPage() {
                    var pagination_params = {
                        currentPage: this.pagination.currentPage,
                        pageSize:this.pagination.pageSize,
                        queryString:this.pagination.queryString
                    };
                    axios.post("/member/findPage.do",pagination_params).then((response)=>{
                        if(response.data.flag) {
                            this.pagination.total = response.data.data.total;
                            this.dataList = response.data.data.rows;
                        }else{
                            this.$message.error(response.data.message);
                        }
                    });
                },
                // 重置表单
                resetForm() {
                    this.activeName = 'first';
                    this.checkgroupIds = [];
                    this.formData ={};
                    this.imageUrl = null;
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible = true;
                    this.resetForm();
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },

                // 弹出编辑窗口
                handleUpdate(row) {
                    axios.get("/member/findById.do?memberId=" + row.id).then((response) => {
                        if (response.data.flag) {
                            this.activeName = 'first';
                            this.dialogFormVisible4Edit = true;
                            // Redisplay form data
                            this.formData = response.data.data;
                        } else {
                            this.$message.error("Server Error = " + response.data.message + " ,Please Contact Admin");
                            this.dialogFormVisible4Edit = false;
                        }
                    }).finally(() => {
                        this.findPage();
                    });
                },

                // 删除
                handleDelete(row) {
                    this.$confirm("Are you sure you want to delete this member ?","Warning",{type:'warning'}).then(()=> {

                        //点击确定按钮执行此代码
                        axios.get("/member/delete.do?id=" + row.id).then((response)=> {
                            if(!response.data.flag){
                                //删除失败
                                this.$message.error(response.data.message);
                            }else{
                                //删除成功
                                this.$message({
                                    message: response.data.message,
                                    type: 'success'
                                });
                                this.findPage();
                            }
                        }).catch((r)=>{
                            if(r == 'Error: Request failed with status code 403'){
                                //权限不足
                                this.$message.error('无访问权限');
                                return;
                            }else{
                                this.$message.error('未知错误');
                                return;
                            }
                        });
                    }).catch(()=> {
                        //点击取消按钮执行此代码
                        this.$message('操作已取消');
                    });
                }
            }
        })
    </script>
</html>
